<div class="col col-sm-6 col-md-4">
    <div class="rounded-5 bg-dark text-light p-4 mx-auto mb-3">
        <div class="m-4 p-2">
            <h2><%= article.title %></h2>
            <p><%= article.description %></p>
        </div>
        <div class="d-flex justify-content-center align-items-middle gap-2">
            <%= link_to "Read more", article_path(article), class: "btn btn-outline-primary" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-secondary" %> 
            <%= button_to "Delete", article_path(article), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </div>
    </div>
</div>